extends layout

block content

  // Adding JS controller for user interactions
  script(src='/controllers/index.js')

  div.row
    .col-md-6
      .panel.panel-primary
        .panel-heading 
          .panel-title Start new session
        .panel-body
          .form-group
              label Display name
              input.form-control#scrumMasterName(type="text", placeholder="username", name="username")    
              hr          
              button.btn.btn-primary.pull-right#newSession Submit
    .col-md-6
      .panel.panel-primary
        .panel-heading 
          .panel-title Join Existing Session
        .panel-body
          .form-group
              label Display name
              input.form-control#username(type="text", placeholder="Display Name", name="username")
              label Session ID
              input.form-control#sessionID(type="text", placeholder="", name="session")
              hr
              button.btn.btn-primary.pull-right#joinSession submit
      
      
