extends layout

block content

  // Specifying global username and session_id variables 
  // so that the JS controllers may use it
  script.
    var username = "#{username}";
    var session_id = "#{session}";

  // Adding JS controller for user interactions
  script(src='/controllers/session.js')
  link(rel='stylesheet', href='/stylesheets/session.css')
  
  div#content
    div.row
      div.col-md-12#details-panel
        div.panel
          .panel-body
            .row
              .col-md-6
                p Username: #{username}
              .col-md-6
                p Session: #{session}
    div.row
      div.col-md-4
        div#add-tickets-panel
          div.panel.panel-warning
            .panel-heading Add ticket
              div.heading-note.pull-right 
                span.glyphicon.glyphicon-lock
                strong SCRUM Master Only
            .panel-body
              label Paste ticket and click "Add" to add to planning session
              textarea.form-control#ticket-body-field(rows="3")
              button.btn.btn-success.btn-sm.pull-right#btn-add-ticket
                span.glyphicon.glyphicon-plus
                span Add Ticket
        div.panel.panel-default#tickets-panel
          .panel-heading Tickets
          ul.list-group#tickets-list

      div.col-md-8 
        div#play-area
          div.row#scrum-control-panel
            div.panel.panel-warning
              .panel-heading Poker Control Panel
                div.heading-note.pull-right 
                  span.glyphicon.glyphicon-lock
                  strong SCRUM Master Only
              .panel-body
                .btn-group
                  button.btn.btn-md.btn-success#prev-ticket(disabled)
                    span.glyphicon.glyphicon-chevron-left
                    span Previous Ticket
                  button.btn.btn-md.btn-success#next-ticket(disabled)
                    span Next Ticket
                    span.glyphicon.glyphicon-chevron-right
                button.btn.btn-md.btn-primary.pull-right#vote-toggle
                  // Don't need as refreshSession() will add content
                  //- .span.glyphicon.glyphicon-play 
                  //- Start Voting
          div.row
            div.panel.panel-danger#voting-area
              .panel-heading
                span#vote-status-label Wait for SCRUM master to enable voting
              .panel-body#question-area
                center
                  span#question-label No ticket has been selected yet
              .panel-body
                center#votes-area
          div.row
            div.panel.panel-default
              .panel-body#card-area
                center
                  div.vote-card.card.card-Pass Pass
                  div.vote-card.card.card-1 1
                  div.vote-card.card.card-2 2
                  div.vote-card.card.card-3 3
                  div.vote-card.card.card-5 5
                  div.vote-card.card.card-8 8
                  div.vote-card.card.card-13 13
                  
        
  
