
body {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#464646+0,252525+100 */
  background: #363636; /* Old browsers */
  background: -moz-linear-gradient(top,  #363636 0%, #252525 50%) repeat-x; /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #363636 0%,#252525 50%) repeat-x; /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #363636 0%,#252525 50%) repeat-x; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#464646', endColorstr='#252525',GradientType=0 ); /* IE6-9 */

  // background-repeat: repeat-x;
  background-color: #252525;

}

#content {
  max-width: 90%;
  margin: auto;
  margin-top: 2%;

  .panel-default {
    .panel-heading {
      background-color: #dadada;
    }
  }

  .panel-warning {
    .glyphicon {
      margin-right: 2.5px;
      margin-left: 2.5px;
    }
  }

  .panel-heading {

    font-size: 12pt;

    .heading-note {
      font-size: 10pt;
    }
  }

  #btn-add-ticket {
    margin-top: 10px;
  }

  #details-area {
    padding: 20px;

    span {
      margin-right: 10px;
    }
    color: #DDD;

    h1 {
      font-size: 20pt;

      button {
        color: #000;
      }
    }

    hr {
      margin: 0px;
    }
  }

  #tickets-panel {

      ul {
        padding: 0px;
        margin: 0px;

        li {
          margin: 0px;
          border-top: 0px;
        }
        li:hover {
          background-color: #E4E4E4;
        }
      }

      .label-default {
        margin-right: 10px;
      }
  }

  #play-area {
    width: 100%;
    height: 100%;
  }

  #question-area {
    font-size: 20pt;
  }

  #play-area {

    #question-area {
      background-color: #E8E8E8;
    }

    #card-area {
      background-color: #E8E8E8;
    }

    .panel-danger {
        border-color: #c9302c;
    }

    .panel-danger .panel-heading {
      background-color: #c9302c;
      color: #FFF;
    }

    .vote {
      display: inline-block;
    }

    .card {
      height: 105px;
      width: 75px;
      background-color: #dadada;
      margin: 10px;
      text-align: center;
      padding-top: 30px;
      font-size: 18pt;
      font-weight: bold;
      display: inline-block;
      border: 3px solid #AAA;
      cursor: pointer;
    }

    .card-voted {
      background-color: #ffa500;
    }

    .card-not-voted {
      background-color: #990000;
      color: #FFF;
    }

    .card-1, .card-2, .card-3, .card-5, .card-8, .card-13  {
      background-color: #228b22;
      color: #FFF;
    }

    .card-Pass {
      background-color: #000;
      color: #fff;
    }
  }

}
